.detalhesEvento{
	box-shadow: 0px 0px 5px grey;	
	padding-top: 20px;
	padding-left: 20PX;
	margin-bottom: 60px;
}

.formConvidado{
		box-shadow: 0px 0px 5px grey;	
	padding-top: 20px;
	padding-left: 20PX;
	padding-bottom: 10PX;
	margin-bottom: 60px;
}

.tabelaConvidado{
	width: 60%;
}

.formEvento{
			box-shadow: 0px 0px 5px grey;	
	padding-top: 20px;
	padding-left: 20PX;
	padding-bottom: 10PX;
	margin-bottom: 60px;
}